<div class="columns has-text-centered is-gapless is-multiline">
  <div class="column">
    <%= form_with(model: @homeowner, local: true) do |form| %>
      <% if @homeowner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@homeowner.errors.count, "error") %> prohibited this homeowner from being saved:</h2>

          <ul>
            <% @homeowner.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <h1 class="title">Edit Driveway Details</h1>
        <div class="field">
          <%= form.label :paypal_email %>
          <br>
          <%= form.text_field(:paypal_email, :class => 'input') %>
        </div>

        <div class="field">
          <%= form.label :address %>
          <br>
          <%= form.text_field(:address, :class => 'input', :readonly => true) %>
        </div>

        <div class="field">
          <%= form.label :driveway_description %>
          <br>
          <%= form.text_field(:driveway_description, :class => 'input') %>
        </div>

        <div class="field">
          <%= form.label "Driveway Price Per Hour (£/hr)" %>
          <br>
          <%= form.text_field(:driveway_price, :class => 'input') %>
        </div>

        <div class="field">
          <%= form.label :active_start %>
          <%= form.datetime_select :active_start, :discard_minute => true %> hr
        </div>

        <div class="field">
          <%= form.label :active_end %>
          <%= form.datetime_select :active_end, :discard_minute => true %> hr
        </div>

        <div class="actions">
          <%= form.submit "Confirm Availability", ({class: "button is-primary is-large"}) %>
        </div>
    <% end %>
    </div>
  </div>
  <div class="column">
    <figure class="image"><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=18&size=400x300&markers=size:small%7Ccolor:red%7C#{@homeowner.latitude},#{@homeowner.longitude}&key=#{Rails.application.credentials.google[:google_maps_api_key]}", alt: "Map" %></figure>
  </div>
</div>
