<p id="notice"><%= notice %></p>

<h1>Homeowners</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Driveway description</th>
      <th>Driveway price</th>
      <th>Driveway active</th>
      <th>Last modified</th>
      <th>Activation code</th>
      <th>Driveway verified</th>
      <th>Total ratings</th>
      <th>Number ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeowners.each do |homeowner| %>
      <tr>
        <td><%= homeowner.user %></td>
        <td><%= homeowner.address %></td>
        <td><%= homeowner.latitude %></td>
        <td><%= homeowner.longitude %></td>
        <td><%= homeowner.driveway_description %></td>
        <td><%= homeowner.driveway_price %></td>
        <td><%= homeowner.driveway_active %></td>
        <td><%= homeowner.last_modified %></td>
        <td><%= homeowner.activation_code %></td>
        <td><%= homeowner.driveway_verified %></td>
        <td><%= homeowner.total_ratings %></td>
        <td><%= homeowner.number_ratings %></td>
        <td><%= link_to 'Show', homeowner %></td>
        <td><%= link_to 'Edit', edit_homeowner_path(homeowner) %></td>
        <td><%= link_to 'Destroy', homeowner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homeowner', new_homeowner_path %>
