<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMapHO);
  </script>
<% end %>

<br><br><br>

<h1 id="homeowners_enter_address">Please enter your address:</h1>

<%= form_with(model: @homeowner, local: true) do |form| %>
  <% if @homeowner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeowner.errors.count, "error") %> prohibited this homeowner from being saved:</h2>

      <ul>
        <% @homeowner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field" style="margin-left: 7%;"> <input id="pac-input" class="controls input" type="text" placeholder="Search address and drag to driveway" style="float: left">
    <div id="homeowner_new_top">New Driveway</div> </div> </div>

  <div>
  <div id="map2">
  </div>
</div>

  <div class="field" style="text-align: center">
    <%= form.label :paypal_email %>
    <br>
    <%= form.text_field(:paypal_email, :class => 'input', :style => 'width: 35%;') %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :address %>
    <br>
    <%= form.text_field(:address, :class => 'input', :style => 'width: 35%;', :readonly => true) %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :latitude %>
    <br>
    <%= form.text_field :latitude, :readonly => true %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :longitude %>
    <br>
    <%= form.text_field :longitude, :readonly => true %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :driveway_description %>
    <br>
    <%= form.text_field(:driveway_description, :class => 'input', :style => 'width: 35%;') %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :driveway_price %>
    <br>
    <%= form.text_field(:driveway_price, :class => 'input', :style => 'width: 35%;') %>
  </div>

  <div class="actions" style="text-align: center">
    <%= form.submit({class: "button is-info"}) %>
  </div>

<% end %>
</div>
<br>
<div style="text-align: center">
<%= link_to 'Back', signup_path, :class => 'button is-primary' %>
</div>
<br>