<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMapHO);
  </script>
<% end %>

<div class="columns has-text-centered is-gapless">
  <div class="column">
    <%= form_with(model: @homeowner, local: true) do |form| %>
      <% if @homeowner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@homeowner.errors.count, "error") %> prohibited this homeowner from being saved:</h2>
          <ul>
            <% @homeowner.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="title">New Driveway</div>
      <h1 class="subtitle is-marginless is-size-4">Locate Driveway</h1>
      <div class="field">
        <%= form.label :enter_address, "1. Enter address" %>
        <br>
        <input id="pac-input" class=" input" type="text" placeholder="Search address and drag to driveway">
      </div>
      <div class="field" style="display: none;">
        <%= form.label :address %>
        <br>
        <%= form.text_field(:address, :class => 'input', :readonly => true) %>
      </div>
      <p style="font-size: 18px">2. Drag the pin within the red square to the centre of your driveway.</p><br>
      <div class="field" style="display: none">
        <%= form.label :latitude %>
        <br>
        <%= form.text_field :latitude, :readonly => true %>
      </div>
      <div class="field" style="display: none">
        <%= form.label :longitude %>
        <br>
        <%= form.text_field :longitude, :readonly => true %>
      </div>
      <h1 class="subtitle is-marginless is-size-4">Driveway Details</h1>
      <div class="field">
        <%= form.label :driveway_description %>
        <br>
        <%= form.text_field(:driveway_description, :class => 'input') %>
      </div>
      <div class="field">
        <%= form.label "Driveway Price Per Hour (£)" %>
        <br>
        <%= form.text_field(:driveway_price, :class => 'input') %>
      </div>

      <div class="field">
        <%= form.label :paypal_email %>
        <br>
        <%= form.text_field(:paypal_email, :class => 'input') %>
      </div>

      <div class="actions">
        <%= form.submit({class: "button is-primary is-large", value: "Register Driveway"}) %>
      </div>
    <% end %>
  </div>
  <div class="column">
    <div id="map2"></div>
    <br>
  </div>
</div>


