<p id="notice"><%= notice %></p>
<div id="overall-container">

  <h1 class="title" style="text-align: center"><strong>Your Driveway</strong></h1>
<div style="width: 30%; height: 40%; float: left; margin-top: 5%">
  <p id="static_map_show">
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=18&size=600x600&markers=size:small%7Ccolor:red%7C#{@homeowner.latitude},#{@homeowner.longitude}&key=#{Rails.application.credentials.google[:google_maps_api_key]}", alt: "Map" %>
  </p>
</div>

<div id="square">
  <div id="homeowner_show_mid">

<p>
  <strong>PayPal Email:</strong>
  <%= @homeowner.paypal_email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @homeowner.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @homeowner.driveway_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @homeowner.driveway_price %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @homeowner.last_modified %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @homeowner.driveway_verified %>
</p>

<p>
  <strong>Average Rating:</strong>
  <% if @homeowner.number_ratings == 0 %>
    No Ratings Yet
  <% else %>
    <%= (@homeowner.total_ratings.to_f / @homeowner.number_ratings) %>
  <% end %>
</p>
<div style="margin-top: 3%">
<% unless @homeowner.driveway_verified %>
  <%= link_to 'Verify Driveway', verification_path, :class => 'button is-success' %>
    <% else %>
    <%= link_to 'Edit', edit_homeowner_path(@homeowner), :class => 'button is-info' %>
<% end %>

</div>
</div>
</div>
</div>