<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :driver_id, :value => Driver.find_by_user_id(current_user.id).id %>
  </div>

  <div class="field">
    <%= form.hidden_field :homeowner_id, :value => params[:dvwid] %>
  </div>

  <div class="field">
    <%= form.hidden_field :price, :value => @homeowner.driveway_price %>
  </div>

  <div class="field">
    <%= form.label :start_time, class: "label" %>
    <%= form.datetime_select :start_time, {datetime_separator: " at ", :minute_step => 60, :discard_minute => true}, class: "select" %>
    <p class="time_select_00"> :00 </p>
  </div>

  <div class="field">
    <%= form.label :end_time, class: "label" %>
    <%= form.datetime_select :end_time, {datetime_separator: " at ", :minute_step => 60, :discard_minute => true}, class: "select" %>
    <p class="time_select_00"> :00 </p>
  </div>

  <div class="actions">
    <%= form.submit :class => 'button is-primary is-large' %>
  </div>
<% end %>
