<div class="has-text-centered">
  <h1 class="title">Bookings On My Driveway</h1>
  <% if @upcoming_homeowner_bookings.length == 0 %>

    <h2 class="subtitle is-6">You don't have any bookings yet.</h2>

  <% else %>
    <div style="overflow-x: auto;">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th>Driver</th>
          <th>Car Info</th>
          <th>Price</th>
          <th>Start time</th>
          <th>End time</th>
          <th colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        <% @upcoming_homeowner_bookings.each do |booking| %>
          <tr>
            <td><%= booking.driver.user.name %></td>
            <td><%= booking.driver.car_info %></td>
            <td><%= number_to_currency(booking.price, unit: "£") %></td>
            <td><%= booking.start_time.strftime("%F at %T") %></td>
            <td><%= booking.end_time.strftime("%F at %T") %></td>
            <td><%= link_to 'Show', booking, :class => "button is-primary" %></td>
          </tr>

          <h1></h1>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <br>
  <h1 class="title">Completed Bookings</h1>

  <% if @complete_homeowner_bookings.length == 0 %>
    <h2 class="subtitle is-6">You do not have any completed bookings.</h2>
  <% else %>
    <h2 class="subtitle is-6">Withdrawable Earnings <%= number_to_currency(@pending_sum, unit: "£") %></h2>
    <%= button_to 'Withdraw Earnings', withdraw_path, method: :post, params: {homeowner_id: @homeowner.id}, remote: true, :class => "button is-info" %>
    <br>
    <div style="overflow-x: auto;">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th>Driver</th>
          <th>Car Info</th>
          <th>Price</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Withdrawal status</th>
          <th colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        <% @complete_homeowner_bookings.each do |booking| %>
          <tr>
            <td><%= booking.driver.user.name %></td>
            <td><%= booking.driver.car_info %></td>
            <td><%= number_to_currency(booking.price, unit: "£") %></td>
            <td><%= booking.start_time.strftime("%F at %T") %></td>
            <td><%= booking.end_time.strftime("%F at %T") %></td>
            <td><%= booking.withdrawn ? "Withdrawn" : "Not withdrawn" %></td>
            <td><%= link_to 'Show', booking, :class => "button is-primary" %></td>
          </tr>


        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
