<% unless @booking.paid %>
  <script type="text/javascript" charset="utf-8">
      const stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

      stripe.redirectToCheckout({
          sessionId: '<%= @session.id %>'
      }).then(function (result) {
          console.log(result.error.message);
      });
  </script>
<% end %>
<div class="has-text-centered">
  <p class="subtitle">
    <strong>Car Details:</strong>
    <%= @booking.driver.car_info %>
  </p>

  <p class="subtitle">
    <strong>Address:</strong>
    <%= @booking.homeowner.address %>
  </p>

  <p class="subtitle">
    <strong>Price:</strong>
    <%= number_to_currency(@booking.price, unit: "£") %>
  </p>

  <p class="subtitle">
    <strong>Start time:</strong>
    <%= @booking.start_time %>
  </p>

  <p class="subtitle">
    <strong>End time:</strong>
    <%= @booking.end_time %>
  </p>

  <% if @booking.complete %>
    <p class="subtitle">
      <strong>Rating:</strong>
      <% if @booking.rating == 0 %>
        Not Yet Rated
      <% else %>
        <%= @booking.rating %>
      <% end %>

    </p>
  <% end %>

  <% if @booking.complete and @booking.rating == 0 %>
    <%= form_tag "/rate" do %>
      <%#= hidden_field :form_booking_id, :value => @booking.id %>
      <%= hidden_field_tag 'form_booking_id', @booking.id %>

      <div class="select">
        <%= select_tag :rating, raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>"), class: "select" %>
      </div>
      <%= submit_tag "Rate", :class => "button is-info" %>

    <% end %>
  <% end %>

  <% if @booking.paid %>
    <% if ((@booking.start_time - Time.now) / 3600) > 24 %>

      <%= button_to 'Refund', charges_refund_path, class: "button is-primary", method: :post, params: {booking_id: @booking.id}, remote: true %>

    <% end %>
  <% end %>
</div>
