<% unless @booking.paid %>
  <script type="text/javascript" charset="utf-8">
      const stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

      stripe.redirectToCheckout({
          sessionId: '<%= @session.id %>'
      }).then(function (result) {
          console.log(result.error.message);
      });
  </script>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @booking.driver_id %>
</p>

<p>
  <strong>Homeowner:</strong>
  <%= @booking.homeowner_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @booking.complete %>
</p>

<p>
  <strong>Withdrawn:</strong>
  <%= @booking.withdrawn %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @booking.paid %>
</p>

<p>
  <strong>Payment Intent:</strong>
  <%= @booking.payment_intent %>
</p>

<% if @booking.paid %>
  <% if ((@booking.start_time - Time.now)/3600) > 24 %>
    <%= button_to 'Refund', charges_refund_path, method: :post, params: {booking_id: @booking.id}, remote: true %>
  <% end %>
<% else %>
  <%= button_to 'Pay', charges_create_path, method: :post, params: {booking_id: @booking.id}, remote: true %>
<% end %>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
