











<nav class="navbar" role="navigation" aria-label="main navigation" id="nb">
  <div class="navbar-brand">
    <a href="/">


      <%= image_tag("logo_paypark.png", size: "55x450", :class => "nav-image") %>


    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>


    </a>


  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <% if user_signed_in? %>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" id="nav-button">
            My Bookings
          </a>

          <div class="navbar-dropdown">
            <% if Homeowner.exists?(user_id: current_user.id) %>
              <% current_homeowner = Homeowner.find_by_user_id(current_user.id) %>
              <hr class="navbar-divider">

              <%= link_to "Homeowner", homeowner_bookings_path, :class => "navbar-item", :id => "nav-button" %>
              <%= link_to "Become a driver", new_driver_path, :class => "navbar-item", :id => "nav-button"  %>
            <% end %>
            <% if Driver.exists?(session[:driver_id]) %>
              <% driver = Driver.find(session[:driver_id]) %>
              <hr class="navbar-divider">

              <%= link_to "Driver Page", driver, :id => "driver-page-button", :class => "navbar-item", :id => "nav-button" %>


              <%= link_to "Driver Bookings", driver_bookings_path, :class => "navbar-item", :id => "nav-button" %>
              <%= link_to "Become a homeowner", new_homeowner_path, :class => "navbar-item", :id => "nav-button" %>



            <% end %>
            <hr class="navbar-divider">
            <%= link_to "Chat", chat_path, :class => "navbar-item", :id => "nav-button" %>

          </div>
        </div>
        <% if Homeowner.exists?(user_id: current_user.id) %>
          <% current_homeowner = Homeowner.find_by_user_id(current_user.id) %>
          <%= link_to "My Driveway", current_homeowner, :class => "navbar-item", :id => "homeowner-page-button", :id => "nav-button" %>
        <% end %>
      <% end %>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" id="nav-button">
                My Account
              </a>

              <div class="navbar-dropdown">

                <%= link_to t('logout'), destroy_user_session_path, method: 'delete', :class => "navbar-item", :id => "nav-button" %>

              </div>
          <% else %>
            <%= link_to "Login/Signup", '/auth/google_oauth2', :class => "button active", :id => "login-button" %>
          <% end %>
          </div>


        </div>
      </div>
    </div>
  </div>
</nav>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>