<div class="header">
  <div class="navbar-brand">


    <a class="active" href="javascript:void(0)" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="nav-image">
      <%= link_to root_path do %>
        <%= image_tag("logo_paypark.png", size: "57x57", :class => "nav-image") %>
      <% end %>
    </div>



    <% if user_signed_in? %>
      <% if Driver.exists?(session[:driver_id]) %>
        <% driver = Driver.find(session[:driver_id]) %>
        <%= link_to "Driver Page", driver, :id => "driver-page-button", :class => "nav-buttons" %>
        <%= link_to "Driver Bookings", driver_bookings_path, :class => "nav-buttons" %>
      <% else %>
      <% end %>


      <% if Homeowner.exists?(session[:homeowner_id]) %>
        <% homeowner = Homeowner.find(session[:homeowner_id]) %>
        <%= link_to "Homeowner Page", homeowner, :class => "nav-buttons" %>
        <%= link_to "Homeowner Bookings", homeowner_bookings_path, :class => "nav-buttons" %>
      <% else %>
      <% end %>
    <% end %>


    <% if user_signed_in? %>
      <%= link_to t('logout'), destroy_user_session_path, method: 'delete', :class => 'button active', :id => "logout-button" %>

    <% else %>
      <a id="signup-button" class="button is-primary" class="active" href="javascript:void(0)">
        <strong>Sign up</strong>
      </a>

      <div id="login-button">

        <%= link_to "Login", '/auth/google_oauth2', :class => "button active" %>

    <% end %>
    </div>
  </div>


</div>





