<nav class="navbar" role="navigation" aria-label="main navigation" id="nb">
  <div class="navbar-brand">
    <a href="/">
      <%= image_tag("logo_paypark.png", size: "55x450", :class => "nav-image") %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true" style="color: white"></span>
      <span aria-hidden="true" style="color: white"></span>
      <span aria-hidden="true" style="color: white"></span>


    </a>


  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <% if user_signed_in? %>

        <%= link_to "Find Parking", root_path, :class => "navbar-item nav-button" %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link nav-button">Bookings</a>

          <div class="navbar-dropdown">
            <% if Homeowner.exists?(user_id: current_user.id) %>
              <hr class="navbar-divider">

              <%= link_to "Homeowner Bookings", homeowner_bookings_path, :class => "navbar-item nav-button" %>
            <% end %>
            <% if Driver.exists?(session[:driver_id]) %>
              <% driver = Driver.find(session[:driver_id]) %>
              <hr class="navbar-divider">

              <%= link_to "Driver Bookings", driver_bookings_path, :class => "navbar-item nav-button" %>

            <% end %>
            <hr class="navbar-divider">
            <%= link_to "Chat", chat_path, :class => "navbar-item nav-button" %>

          </div>
        </div>
        <% if Homeowner.exists?(user_id: current_user.id) %>
          <% current_homeowner = Homeowner.find_by_user_id(current_user.id) %>
          <%= link_to "Driveway", current_homeowner, :class => "navbar-item nav-button", :id => "homeowner-page-button" %>
        <% end %>

        <% if Driver.exists?(user_id: current_user.id) %>
          <% current_driver = Driver.find_by_user_id(current_user.id) %>
          <%= link_to "Vehicle", current_driver, :class => "navbar-item nav-button", :id => "driver-page-button" %>
        <% end %>
      <% end %>



    </div>
    <div class="navbar-item" >
      <% flash.each do |key, value| %>
        <%= content_tag :div, content_tag(:h4, value),  id: "#{key}", class: "nav-message" unless value.blank? %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link nav-button">
                &nbsp &nbsp My Account &nbsp
              </a>

              <div class="navbar-dropdown">
                <hr class="navbar-divider" >
                <span class="subtitle is-6"><%= current_user.name  %></span>
                <hr class="navbar-divider">
                <span class="subtitle is-6"><%= current_user.email %></span>
                <hr class="navbar-divider">
                <%= link_to t('logout'), destroy_user_session_path, method: 'delete', :class => "navbar-item nav-button"%>

                <% if Homeowner.exists?(user_id: current_user.id) %>
                  <% current_homeowner = Homeowner.find_by_user_id(current_user.id) %>
                  <%= link_to "Driveway", current_homeowner, :class => "navbar-item nav-button" %>
                <% else %>
                  <%= link_to "Become a homeowner", new_homeowner_path, :class => "navbar-item nav-button" %>
                <% end %>

                <% if Driver.exists?(user_id: current_user.id) %>
                  <% current_driver = Driver.find_by_user_id(current_user.id) %>
                  <%= link_to "Vehicle", current_driver, :class => "navbar-item nav-button"%>
                  <% else %>
                    <%= link_to "Become a driver", new_driver_path, :class => "navbar-item nav-button" %>
                  <% end %>

                <% if current_user.admin? %>
                  <hr class="navbar-divider">
                  <%= link_to "All Homeowners", homeowners_path, :class => "navbar-item nav-button" %>
                  <%= link_to "All Drivers", drivers_path, :class => "navbar-item nav-button" %>
                  <%= link_to "All Bookings", bookings_path, :class => "navbar-item nav-button" %>
                  <%= link_to "Withdrawal Requests", withdrawal_requests_path, :class => "navbar-item nav-button" %>
                <% end %>

              </div>
          <% else %>
            <%= link_to "Login/Signup", '/auth/google_oauth2', :class => "button active", :id => "login-button" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>