<div class="header">
  <div class="navbar-brand">


    <a class="active" href="javascript:void(0)" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <%= link_to image_tag("https://bulma.io/images/bulma-logo.png", size: "200x200"), root_path %>

    <% if user_signed_in? %>
      <p class="header-details" id="welcome-tag">Welcome,&nbsp</p>
      <div class="header-details"><%= current_user.name %></div>

    <% else %>
      <p>NO ONE IS SIGNED IN</p>
    <% end %>


    <div class="header-icons"><%= link_to "", new_homeowner_path, :class => "fas fa-home fa-3x" %></div>
    <div class="header-icons"><%= link_to "", new_homeowner_path, :class => "fas fa-home fa-3x" %></div>
    <div class="header-icons"><%= link_to "", new_homeowner_path, :class => "fas fa-home fa-3x" %></div>
    <div class="header-icons"><%= link_to "", new_homeowner_path, :class => "fas fa-home fa-3x" %></div>
    <div class="header-icons"><%= link_to "", new_homeowner_path, :class => "fas fa-home fa-3x" %></div>



    <% if user_signed_in? %>
      <div id="logout-button"><%= link_to t('logout'), destroy_user_session_path, method: 'delete', :class => 'button active' %></div>
      </div>
    <% else %>
      <a id="signup-button" class="button is-primary" class="active" href="javascript:void(0)">
        <strong>Sign up</strong>
      </a>

      <div id="login-button">
        <a class="button" class="active" href="javascript:void(0)">
          Log in
        </a>
    <% end %>

    </div>


    </div>




