<div class="has-text-centered">
  <h1 class="title">
    <%= t('.title') %>
  </h1>
  <p class="subtitle">
    <%= t('.contact_us') %>


  </p>
  <%= form_tag request_contact_path, method: 'post' do %>

    <%= label_tag :name, t('.name'), :class => "subtitle" %>

    <br>
    <% if user_signed_in? %>

      <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, value: current_user.name, :class => "input" %>

      <br>
    <% else %>

      <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, :class => "input" %>

      <br>
    <% end %>

    <%= label_tag :email, t('.email'), :class => "subtitle" %>

    <br>
    <% if user_signed_in? %>

      <%= email_field_tag :email, '', title: t('.enter_email'), value: current_user.email, :class => "input" %>

      <br>
    <% else %>

      <%= email_field_tag :email, '', title: t('.enter_email'), :class => "input" %>

      <br>
    <% end %>

    <%= label_tag :telephone, t('.telephone'), :class => "subtitle" %>

    <br>

    <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), :class => "input" %>

    <br>

    <%= label_tag :message, t('.message'), :class => "subtitle" %>

    <br>

    <%= text_field_tag :message, '', title: t('.enter_message'), size: 100, :class => "textarea" %>

    <br>
    <% flash.each do |key, value| %>
      <%= content_tag :div, content_tag(:p, value), :class => "subtitle is-info", id: "#{key}" unless value.blank? %>
    <% end %>
    <br>

    <%= submit_tag t('.submit'), :class => "button is-info" %>

  <% end %>
</div>