<div id="overall-container">
  <h1 class="title" style="text-align: center">
    <%= t('.title') %>
  </h1>
  <p class="subtitle" style="text-align: center; margin-top: 2%;">
    <%= t('.contact_us') %>


  </p>
  <%= form_tag request_contact_path, method: 'post' do %>
    <div style="text-align: center">
  <%= label_tag :name, t('.name'), :class => "subtitle" %>
      </div>
    <br>
    <% if user_signed_in? %>
      <div style="text-align: center">
      <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, value: current_user.name, :class => "input", :style => "width: 30%" %>
      </div>
      <br>
    <% else %>
      <div style="text-align: center">
      <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, :class => "input", :style => "width: 30%" %>
      </div>
      <br>
    <% end %>
    <div style="text-align: center">
    <%= label_tag :email, t('.email'), :class => "subtitle" %>
    </div>
    <br>
    <% if user_signed_in? %>
      <div style="text-align: center">
      <%= email_field_tag :email, '', title: t('.enter_email'), value: current_user.email, :class => "input", :style => "width: 30%" %>
      </div>
      <br>
    <% else %>
      <div style="text-align: center">
      <%= email_field_tag :email, '', title: t('.enter_email'), :class => "input", :style => "width: 30%" %>
      </div>
      <br>
    <% end %>
    <div style="text-align: center">
    <%= label_tag :telephone, t('.telephone'), :class => "subtitle", :style => "text-align: center;" %>
    </div>
    <br>
    <div style="text-align: center">
    <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), :class => "input", :style => "width: 30%" %>
    </div>
    <br>
    <div style="text-align: center">
    <%= label_tag :message, t('.message'), :style => "text-align: center;", :class => "subtitle" %>
    </div>
    <br>
    <div style="text-align: center">
    <%= text_field_tag :message, '', title: t('.enter_message'), size: 100, :class => "input", :style => "width: 50%;" %>
    </div>
    <br>
    <% flash.each do |key, value| %>
      <%= content_tag :div, content_tag(:p, value), :class => "subtitle is-info", :style => "text-align: center;", id: "#{key}" unless value.blank? %>
    <% end %>
    <br>
    <div style="text-align: center">
    <%= submit_tag t('.submit'), :class => "button is-info" %>
    </div>
  <% end %>
</div>