<div class="has-text-centered">
  <h1 class="title">
    <%= t('.title') %>
  </h1>

  <p class="subtitle">
    <%= t('.contact_us') %>
  </p>

  <%= form_tag request_contact_path, method: 'post' do %>

    <%= label_tag :name, t('.name'), :class => "subtitle" %>

    <br>

    <%= text_field_tag :name, '', title: t('.enter_name'), size: 50, value: user_signed_in? ? current_user.name : "", class: "input" %>

    <br>

    <%= label_tag :email, t('.email'), :class => "subtitle" %>

    <br>

    <%= email_field_tag :email, '', title: t('.enter_email'), value: user_signed_in? ? current_user.email : "", :class => "input" %>

    <br>

    <%= label_tag :telephone, t('.telephone'), :class => "subtitle" %>

    <br>

    <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), :class => "input" %>

    <br>

    <%= label_tag :message, t('.message'), :class => "subtitle" %>

    <br>

    <%= text_area_tag :message, '', title: t('.enter_message'), :class => "textarea", :rows => 5 %>

    <br>
    <% flash.each do |key, value| %>
      <%= content_tag :div, content_tag(:p, value), :class => "subtitle is-info", id: "#{key}" unless value.blank? %>
    <% end %>
    <br>

    <%= submit_tag t('.submit'), :class => "button is-primary is-large" %>

  <% end %>
</div>

<% 3.times do %>
  <br>
<% end %>