<div class="imagedave"><%= image_tag("surrey_background.png", :id => "surrey-background") %></div>



<div class="columns is-gapless is-multiline">
  <div class="column">
    <h1 class="title" style="text-align: center">What we do</h1>
    <p id="column-one-text">PayPark is a parking platform for homeowners to rent out their vacant private driveways to
      drivers.
      Once a user signs up, they can register as both a homeowner or driver who either rents out their driveway at
      their own price or searches for parking spaces available at their specified time.
      We aim to make looking for parking spaces quicker and more efficient to suit the drivers' needs. Using our
      map, drivers can find available driveways at a suitable price for parking in their desired areas.
      The "Upcoming Events" feature available on the map, can also be used by the driver to plan their parking
      spaces ahead of their events, which are taken from their personal Google Calendar.
    </p>
  </div>
  <div class="column">
    <h1 class="title" style="text-align: center">Join Us Today!</h1>
    <figure class="image"><%= image_tag("logo_paypark.png") %></figure>

    <%= link_to "Click Here To Sign Up",'/auth/google_oauth2', class: "button is-fullwidth is-info" %>
  </div>
  <div class="column">
    <h1 class="title" style="text-align: center">Our Happy Customers: </h1>
    <div id="parent">
      <div id="picture">
        <div class='container1'>

          <%= image_tag("student-1.png", :id => "content-1") %>

          <%= image_tag("person-in-car.png", :id => "content-1") %>
          <%= image_tag("stock_human.png", :id => "content-1") %>

        </div>
      </div>

      <script>
          var divs = $('img[id^="content-"]').hide(),
              i = 0;

          (function cycle() {

              divs.eq(i).fadeIn(2000)
                  .delay(8000)
                  .fadeOut(2000, cycle);

              i = ++i % divs.length;

          })();
      </script>


      <div id="text">
        <p class="quotes">PayPark helped to find a parking space for me when I went to a football game and there was
          no parking else where. Its so quick and easy to use and it can help you find parking in seconds!</p>
        <p class="quotes">I have used this website a countless number of times for when parking was really busy
          during the day. Its nice to navigate through and shows the parking near you quickly. Would recommend. </p>
        <p class="quotes">PayPark is super useful for finding parking in an emergency. Its really reliable and
          allows you not to worry about parking while driving. You can navigate through the website really easily
          and you can even talk to the parking spot owner if you need to sort something out. Great website!</p>
        <br><br><br><br>
      </div>
    </div>
    <script>
        (function () {

            var quotes = $(".quotes");
            var quoteIndex = -1;

            function showNextQuote() {
                ++quoteIndex;
                quotes.eq(quoteIndex % quotes.length)
                    .fadeIn(2000)
                    .delay(8000)
                    .fadeOut(2000, showNextQuote);
            }

            showNextQuote();

        })();
    </script>
  </div>
</div>
