<div id="overall-container">
<p id="notice"><%= notice %></p>

<p class="subtitle">
  <strong>Homeowner:</strong>
  <%= @withdrawal_request.homeowner.user.name %>
</p>

<p class="subtitle">
  <strong>Amount:</strong>
  <%= @withdrawal_request.amount %>
</p>

<p class="subtitle">
  <strong>Request date:</strong>
  <%= @withdrawal_request.request_date %>
</p>

<%= link_to 'Back', withdrawal_requests_path %>
</div>