<p>
  <%= "Dear  #{@homeowner.user.name}, "   %>

</p>
<p>
  <%= "To verify your driveway, please enter the code below on the verification page accessible through the 'My Driveway' page." %>
  <br>
  <%= "This message would be delivered by physical post in a real-life deployment." %>
</p>
<dl>

<p>
  <%= @homeowner.activation_code %>
</p>
<p>Thank you,</p>
<p>
  <%= "PayPark" %>
</p>
</dl>