<p id="notice"><%= notice %></p>
<br><br><br>

<div id="driver_new_top">Drivers</div>

<div id="driver_new_mid" >
<table class="table is-striped" border="1" width="100%">
  <thead>
    <tr>
      <th>User</th>
      <th>Registration number</th>
      <th>Car Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.user.name %></td>
        <td><%= driver.registration_number %></td>
        <td><%= driver.car_info %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver), :class => 'button is-info' %></td>
        <td><%= link_to 'Delete', driver, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
