<div class="has-text-centered">
  <h1 class="title">Your Car</h1>
  <div id="square">
    <strong>User</strong>
    <br>
    <%= @driver.user.name %>
    <br>
    <strong>Registration number</strong>
    <br>
    <%= @driver.registration_number %>
    <br>
    <strong>Car Info</strong>
    <br>
    <%= @driver.car_info %>
    <div>
      <%= link_to 'Change Car', edit_driver_path(@driver), :class => 'button is-info' %>
      <br>
      <br>
      <%= link_to " <i class='fas fa-search-location fa-lg'></i> &nbsp Find Parking".html_safe, root_path, :class => 'button is-primary is-large' %>
    </div>
  </div>
</div>
