<p id="notice"><%= notice %></p>
<br><br>
<div id="driver_new_top"><strong>Your Car</strong></div>

<div id="circle">
  <div id="driver_show_mid">
    <strong>User</strong>
    <br>
    <%= @driver.user.name %>
    <br>
    <strong>Registration number</strong>
    <br>
    <%= @driver.registration_number %>
    <br>
    <strong>Car Info</strong>
    <br>
    <%= @driver.car_info %>
    <div style="margin-top: 12%">
    <%= link_to 'Edit', edit_driver_path(@driver), :class => 'button is-info' %>
    <%= link_to 'Back', drivers_path, :class => 'button is-primary' %>
    </div>
</div>
</div>