<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          initMap()
      });
  </script>
<% end %>
<div class="columns is-gapless">
  <div class="column is-four-fifths">
    <input id="pac-input" class="input has-text-centered is-info" type="text" placeholder="Search address">
    <div id="map"></div>
  </div>
  <div class="column has-text-centered">
    <div class="has-text-centered">
      <h2 class="title is-marginless has-text-centered">Find Parking</h2>

      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Upcoming Events</span>
            <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <% @response.items.each do |event| %>
              <% start = event.start.date || event.start.date_time %>
              <div class="dropdown-item">
                <ul><%= "#{event.summary} (#{start})" %></ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= form_tag "/timesearch" do %>
        <%= datetime_field_tag 'start_time', class: "input" %>
        <%= datetime_field_tag 'end_time', class: "input" %>
        <%= submit_tag "Search", :class => "button is-small" %>

      <% end %>
      <% unless session[:booking_start_time].nil? and session[:booking_end_time].nil? %>
        <h2 class="has-text-danger">Searching For Driveways Between <%= session[:booking_start_time] %>
          until <%= session[:booking_end_time] %></h2>
        <%= button_to 'Clear Times', clearsearch_path, method: :post, :class => "button is-small" %>
      <% end %>

    </div>
    <h2 class="title">Available parking spots in this area <i class="fas fa-map-marker-alt" style="color: red;"></i>
    </h2>
    <div id="localsList">
      <ul></ul>
    </div>
  </div>
</div>
</div>
