<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          initMap()
      });
  </script>
<% end %>

<div id="overall-container">
  <div id="home-top-div">

    <h2 class="title is-marginless" id="home-title">Find Parking</h2>



    <div id="home-search-bar">
      <input id="pac-input" class="controls input" type="text" placeholder="Search address and drag to driveway"></div>
    <div id="home-search-bar-time" style="text-align: center">
      <%= form_tag "/timesearch" do %>
        <%= datetime_field_tag 'start_time', :style => "text-align: center"  %>
        <%= datetime_field_tag 'end_time', :style => "text-align: center" %>
        <%= submit_tag "Search", :class => "button is-small", :id => "home-top-div-search-button", :style => "text-align: center"  %>
      <% end %>

    </div>

  </div>



  <div id="center-div">
    <div id="home-dropdown" class="box1 stack-top">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
          <span>Upcoming Events</span>
          <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% @response.items.each do |event| %>
            <% start = event.start.date || event.start.date_time %>
            <div class="dropdown-item">
              <ul><%= "#{event.summary} (#{start})" %></ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <div id="map" class="box1"></div>
  </div>



  <div id="right-div">

    <div id="right-div-title-div">
      <h1 style="text-align: center" class="title">Available Parking Spots:</h1>
    </div>
    <div id="right-div-text-div">




    </div>
  </div>
</div>
