<!DOCTYPE html>
<html>
  <head>
    <title>Paypark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.credentials.google[:google_maps_api_key]+'&libraries=places'%>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield(:head_tags) %>
  </head>

  <body>

  <%= render "shared/header" %>

  <%= yield %>

  <%= render "shared/footer" %>

  </body>
</html>