<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <title>Paypark</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= favicon_link_tag asset_path('logo_paypark.png') %>

  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.credentials.google[:google_maps_api_key] + '&libraries=places' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'dhtmlxscheduler_material', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>

  <script src="https://js.stripe.com/v3/"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= yield(:head_tags) %>
</head>

<body>
<%= render "shared/header" %>
<div id="overall-container">
  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
  <% end %>

  <%= yield %>

  <div class="push"></div>
</div>
<%= render "shared/footer" %>

</body>
</html>